<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-login">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <h2> Por favor, introduzca sus datos </h2>
  <!--<input type="text" value="{{first_name::input}}"/> -->
  <input type="email" placeholder="Email" value="{{email::input}}"/>
  <input type="password" placeholder="Password" value="{{password::input}}"/>
  <button class="btn btn-success" on-click="eventoLogin">Login</button>
  <button class="btn btn-success" on-click="eventoNewCustomer">Registrarse</button>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class UILogin extends Polymer.Element {
      static get is() { return 'ui-login'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String,
            value: ''
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      eventoLogin(e){

        this.dispatchEvent(
          new CustomEvent(
            "loginevent",
            {
              "detail" : {
                "email": this.email,
                "password": this.password
              }
            }
        )
        );
     }

     eventoNewCustomer(e){
       console.log("Boton nuevo cliente pulsado");
      this.dispatchEvent(
         new CustomEvent(
           "registernewcustomerevent",
           {
             "detail" : {
               "email": this.email,
               "password": this.password
             }
           }
       )
       );
    }



   }


    window.customElements.define(UILogin.is, UILogin);
  </script>
</dom-module>
