<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="dm-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Sus movimientos </h2>
    <template is="dom-repeat" items="{{movements}}">
      <h3> Importe - {{item.amount}} </h3>
      <h3> Fecha - {{item.date}} </h3>
    </br>

  </template>


    <iron-ajax
      id="getMovements"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/movements"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="noMovements">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMMovimientos extends Polymer.Element {
      static get is() { return 'dm-movimientos'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          }, balance: {
            type: Number
          },accounts: {
            type: Array
          }


        };
      }

      getMovements(e){
        console.log("Entramos en el dm-movimientos");
        console.log(e);
        this.id = e;
        console.log(this.id);

        this.$.getMovements.generateRequest();
        console.log("Consula movimientos lanzada")

        /*
        this.id = e.userid;

        this.id=5;
        console.log(e.userid);
        this.$.getAccount.generateRequest();
        console.log("Petición cuentas enviada");
        */
      }

        manageAJAXResponse(data){
        console.log("Respuesta a la consulta de movimientos");
        console.log(data.detail.response);

        this.dispatchEvent(
        new CustomEvent (
           "getmovementresponse",
           {
           detail:{
             "movements": data.detail.response
           }
         }
       )
     );


      }

      noMovements(error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
        new CustomEvent (
           "getmovementsresponserror",
           {

           detail:{
             "msg": "ha ocurrido un error al recuperar los movimientos",
             

           }

         }
       )
     );
      }

    }


    window.customElements.define(DMMovimientos.is, DMMovimientos);
  </script>
</dom-module>
