<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <span hidden$={{!logged}}> Bienvenido a casa Johnny </span>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMLogin extends Polymer.Element {
      static get is() { return 'dm-login'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      login(e){
        // tenemos que enlazar los valores de los inputs de texto
        var loginData = {
          "email": e.email,
          "password": e.password
        };
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        // y mandarlo explicitamente
        this.$.doLogin.generateRequest();

      }

      manageAJAXResponse(data){
        this.logged = true;
        this.dispatchEvent(
        new CustomEvent (
           "loginresponse",
           {
           detail:{
             "userid" : data.detail.response.id,
             "username" : data.detail.response.first_name
           }
         }
        )
        );
      }
      showError(error){
        this.dispatchEvent(
        new CustomEvent (
           "usernotfound",
           {
           detail:{
             "msgerror" : "No se ha encontrado"
           }
         }
        )
        );
      }
    }


    window.customElements.define(DMLogin.is, DMLogin);
  </script>
</dom-module>
