<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="ui-sinmovimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2> No tiene movimientos en la cuenta {{iban}} </h2>
    <button class="btn btn-warning" on-click="exitNoMovements">Cuentas</button>
    <!--
    <template is="dom-repeat" items="{{movements}}">
      <div>Importe: {{item.amount}} Fecha: {{item.date}} </div>
    </br>
  </template>
-->



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UISinmovimientos extends Polymer.Element {
      static get is() { return 'ui-sinmovimientos'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }


        };
      }

      exitNoMovements(e){
       this.dispatchEvent(
         new CustomEvent(
           "exitnomovements",
           {
            "detail" : {
             "msg" : "Volver a cuentas"
            }
           }
         )
       );
     }

    }


    window.customElements.define(UISinmovimientos.is, UISinmovimientos);
  </script>
</dom-module>
