<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/src/ui-login/ui-login.html">
<link rel="import" href="/src/ui-newcustomer/ui-newcustomer.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/ui-cuentas/ui-cuentas.html">
<link rel="import" href="/src/dm-login/dm-login.html">
<link rel="import" href="/src/dm-logout/dm-logout.html">
<link rel="import" href="/src/dm-newcustomer/dm-newcustomer.html">
<link rel="import" href="/src/dm-newaccount/dm-newaccount.html">
<link rel="import" href="/src/dm-cuentas/dm-cuentas.html">
<link rel="import" href="/src/dm-movimientos/dm-movimientos.html">
<link rel="import" href="/src/dm-altamovimientos/dm-altamovimientos.html">
<link rel="import" href="/src/ui-movimientos/ui-movimientos.html">
<link rel="import" href="/src/ui-sinmovimientos/ui-sinmovimientos.html">
<link rel="import" href="/src/ui-altamovimientos/ui-altamovimientos.html">
<link rel="import" href="/src/ui-sincuentas/ui-sincuentas.html">

<dom-module id="componente-manejador">

  <template>






    <!--
    <iron-pages selected=login-usuario attr-for-selected="page-name" fallback-selection="fallback">
    -->

    <iron-pages selected = "[[pageName]]" attr-for-selected="page-name">
      <ui-login id="uilogin" page-name="login" on-loginevent="processLogin" on-registernewcustomerevent="sendEventNewCustomer" ></ui-login>
      <ui-newcustomer id="uinewcustomer" page-name="newcustomer" on-newcustomerevent="processNewCustomer" on-newcustomersalir="processNewCustomerSalir"></ui-newcustomer>
      <dm-login id="dmlogin" on-loginresponse="processLoginResponse" on-usernotfound="processUserNotFound"></dm-login>
      <dm-logout id="dmlogout"></dm-logout>
      <ui-cuentas id="uicuentas" page-name = "cuentas" on-selectedaccount="processSelectedAccount" on-altamovimientos="processAltaMovimientos" on-newaccount="processNewAccount" on-logoutcuentas="processLogoutAccount"></ui-cuentas>
      <ui-sincuentas id="uisincuentas" page-name = "sincuentas" on-newaccount="processNewAccount" on-exitnoaccounts="processExitNoAccounts"></ui-sincuentas>
      <ui-movimientos id="uimovimientos" page-name = "movimientos" on-exitmovements="processBackAccount"></ui-movimientos>
      <ui-sinmovimientos id="uisinmovimientos" page-name = "sinmovimientos" on-exitnomovements="processBackAccount"></ui-sinmovimientos>
      <ui-altamovimientos id="uialtamovimientos" page-name="altamovimientos" on-insertmovements="processSetMovements" on-backaccounts="processBackAccount"></ui-altamovimientos>
      <dm-altamovimientos id="dmaltamovimientos" on-getmovementresponse="processRefreshMovements"></dm-altamovimientos>
      <dm-newcustomer id="dmnewcustomer" on-newcustomeresponse="processNewCustomerResponse"></dm-newcustomer>
      <dm-newaccount id="dmnewaccount" on-newaccountresponse="processNewAccountResponse"></dm-newaccount>
      <dm-cuentas id="dmcuentas" on-getaccountresponse="processAccountResponse" on-getaccountresponserror="processAccountResponseError"></dm-cuentas>
      <dm-movimientos id="dmmovimientos" on-getmovementresponse="processMovementsResponse" on-getmovementsresponserror="processMovementsResponseError"></dm-movimientos>
    </iron-pages>





  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */

    class ComponenteManejador extends Polymer.Element {
      static get is() { return 'componente-manejador'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
         pageName: {
           type: String,
           value: 'login'
         },
         first_name: {
           type: String
         },
         iban: {
           type: Number
         },
         balance: {
           type: Number
         },
         userid: {
           type: Number
         }
       };
     };

     processLogin(e) {
       console.log ("Entramos en processLogin del componente manejador");
       console.log (e.detail);
       console.log ("Invoco al eventoLogin del DM-LOGIN");
       this.$.dmlogin.login(e.detail);
       /**
       console.log(this.$.dmlogin.id);
       this.pageName="cuentas";
       */
     }

     processLoginResponse(e) {
       console.log ("Entramos en processLoginResponse del componente manejador");
       console.log (e.detail);
       this.first_name = e.detail.username;
       this.userid = e.detail.userid;
       console.log(this.first_name);
       console.log("El código de cliente es: ");
       console.log(this.userid);
       this.$.dmcuentas.getAccounts(e.detail.userid);

      }

      processUserNotFound(e) {
        console.log ("Entramos en processUserNotFound del componente manejador");
        this.$.uinewcustomer.userfound = true;
        this.$.uinewcustomer.first_name = '';
        this.$.uinewcustomer.last_name = '';
        this.$.uinewcustomer.email = this.$.uilogin.email;
        this.$.uinewcustomer.password = this.$.uilogin.password;
        this.pageName = "newcustomer"
    }


     processNewCustomer(e) {
       console.log ("Entramos en processNewCustomer del componente manejador");
       console.log (e);
       console.log ("Invoco al eventoLogin del dm-newcustomer");
       this.$.dmnewcustomer.newcustomer(e.detail);
     }

     processNewCustomerSalir(e) {
       console.log ("Entramos en processNewCustomerSalir del componente manejador");
       this.$.uilogin.email = '';
       this.$.uilogin.password = '';
       this.pageName="login";

     }

     processBackAccount(e) {
       console.log ("Entramos en processNewCustomerSalir del componente manejador");
       console.log(this.userid);
       this.$.dmcuentas.getAccounts(this.userid);
     }

     processNewCustomerResponse(e) {
       console.log ("Entramos en processNewCustomerResponse");
       console.log (e.detail);
       this.first_name = e.detail.username;
       this.$.uisincuentas.first_name = e.detail.username;
       this.$.uisincuentas.id = e.detail.userid;
       this.pageName = "sincuentas";
      }


     processNewAccount(e) {
       console.log ("Entramos en processNewAccount del componente manejador");
       console.log (e.detail);
       this.$.dmnewaccount.newaccount(e.detail);


     }

     processAccountResponse(e) {
       console.log ("Entramos en processAccountResponse del componente manejador");
       console.log (e.detail);
       this.$.uicuentas.accounts = e.detail.accounts;
       this.$.uicuentas.first_name = this.first_name;
       this.$.uicuentas.userid = this.userid;
       console.log(this.$.uicuentas.first_name);
       console.log(this.$.uicuentas.userid);
       this.pageName="cuentas";

     }

     processAccountResponseError(e) {
       console.log ("Entramos en processAccountResponseError del componente manejador");
       this.$.uisincuentas.first_name = this.first_name;
       this.$.uisincuentas.id = e.detail.userid;
       console.log (e.detail);
       this.pageName="sincuentas";

     }

     processMovementsResponse(e) {
       console.log ("Entramos en processMovementsResponse del componente manejador");
       console.log (e.detail);
       this.$.uimovimientos.movements = e.detail.movements;
       this.$.uimovimientos.iban = this.iban;
       this.$.uimovimientos.balance = this.balance;
       console.log(this.$.uimovimientos.movements);
       this.pageName="movimientos";
    }

    processMovementsResponseError(e) {
      console.log ("Entramos en processMovementsResponseError del componente manejador");
      console.log (e.detail);
      this.$.uisinmovimientos.iban = this.iban;
      this.pageName="sinmovimientos";
   }


     processSelectedAccount(e) {
       console.log ("Entramos en processSelectedAccount del componente manejador");
       console.log (e.detail.id);
       this.iban = e.detail.iban;
       this.balance = e.detail.balance;
       console.log(this.iban);
       this.$.dmmovimientos.getMovements(e.detail.id);
    }

    processRefreshMovements(e) {
      console.log ("Entramos en processRefreshMovements del componente manejador");
      console.log (e.detail);
      console.log(e.detail.movements.accountid);
      console.log(e.detail.movements.balance);
      this.balance = e.detail.movements.balance;
      this.$.dmmovimientos.getMovements(e.detail.movements.accountid);


   }

    processLogoutAccount(e) {
      console.log ("Entramos en processLogoutAccount del componente manejador");
      console.log(e.detail);
      this.$.uilogin.email ='';
      this.$.uilogin.password ='';
      this.$.dmlogout.logout(e.detail.userid);

      /*
      this.$.dmcuentas.getAccounts(this.userid);
      */

      this.pageName = "login"
   }


    processAltaMovimientos(e) {
      console.log ("Entramos en processAltaMovimientos del componente manejador");
      console.log (e.detail.id);
      this.$.uialtamovimientos.date ='';
      this.$.uialtamovimientos.amount ='';
      this.$.uialtamovimientos.type ='';
      this.$.uialtamovimientos.accountid = e.detail.id;
      this.$.uialtamovimientos.account = e.detail.iban;
      this.pageName="altamovimientos"
   }

   processSetMovements(e) {
     console.log ("Entramos en processSetMovements del componente manejador");
     console.log (e.detail);
     this.$.dmaltamovimientos.insertMovement(e.detail);


   }

       processNewAccountResponse(e) {
         console.log ("Entramos en processNewAccountResponse");
         console.log (e.detail);
         this.userid = e.detail.userid;
         this.$.dmcuentas.getAccounts(e.detail.userid);
        }

    processExitNoAccounts(e) {
          console.log ("Entramos en processNoAccounts");
          this.pageName="login";
         }




     sendEventLogin(e){
       console.log("Pulsado el botón login");
       console.log(e);
       this.pageName = "login";
       console.log(this.pageName);
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "course" : "TechU",
               "year" : 2018
             }
           }
         )
       );
     }
     sendEventAcceso(e){
       console.log("Pulsado el botón acceso");
       console.log(e);
       this.pageName = "login";
       console.log(this.pageName);

     }

     sendEventNewCustomer(e){
       console.log("Pulsado el botón nuevo cliente");
       console.log(e);
       this.$.uinewcustomer.first_name ='';
       this.$.uinewcustomer.last_name ='';
       this.$.uinewcustomer.email ='';
       this.$.uinewcustomer.password ='';
       this.$.uinewcustomer.userfound = false;
       this.pageName = "newcustomer";


     }

     sendEventCuenta(e){
       console.log("Pulsado botón Cuentas");
       console.log(e);
       this.pageName = "cuentas";
       console.log(this.componente);
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "course" : "TechU",
               "year" : 2018
             }
           }
         )
       );
     }
    }

    window.customElements.define(ComponenteManejador.is, ComponenteManejador);

  </script>
</dom-module>
