<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="ui-sincuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2> Hola {{first_name}} , actualmente no tienes cuentas. Si deseas darte de alta una, pulsa el botón</h2>
    <button class="btn btn-success" on-click="newAccount">Nueva Cuenta</button>
    <button class="btn btn-warning" on-click="exitNoAccounts">Salir</button>
  </template>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UISincuentas extends Polymer.Element {
      static get is() { return 'ui-sincuentas'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          },
          first_name: {
            type : String
          }


        };
      }

      newAccount(e){
       console.log("newAccount");
       console.log("Enviamos evento newacount");
       console.log(this.id);
       this.dispatchEvent(
         new CustomEvent(
           "newaccount",
           {
            "detail" : {
              "userid" : Number(this.id)
            }
           }
         )
       );
     }

     exitNoAccounts(e){
      console.log("newAccount");
      console.log("Enviamos evento newacount");
      this.dispatchEvent(
        new CustomEvent(
          "exitnoaccounts",
          {
           "detail" : {
             "msg" : "Seleccionado botón salir sin cuentas"
           }
          }
        )
      );
    }




    }


    window.customElements.define(UISincuentas.is, UISincuentas);
  </script>
</dom-module>
