<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-newaccount">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--
    <span hidden$={{!logged}}> Bienvenido a casa Johnny </span>
     -->
    <iron-ajax
      id="insertAccount"
      method="POST"
      url="http://localhost:3000/apitechu/v2/accounts/insertaccount"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMNewaccount extends Polymer.Element {
      static get is() { return 'dm-newaccount'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      newaccount(e){
        console.log("Entramos en el dm-newcustomer");
        console.log(e);
        // tenemos que enlazar los valores de los inputs de texto
        var iban1 = Math.random();
        var ibanString = iban1.toString();
        console.log(ibanString);
        var iban = "ES40 0182 " + ibanString.substring(2, 6) + " " + ibanString.substring(6, 10) + " " + ibanString.substring(10, 14) + " " + ibanString.substring(14, 18);
        console.log(iban);

        var newaccount = {
          "userid": e.userid,
          "balance": 0,
          "iban": iban

        };
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        console.log(newaccount);
        this.$.insertAccount.body = JSON.stringify(newaccount);
        // y mandarlo explicitamente
        this.$.insertAccount.generateRequest();
        console.log("Petición enviada");
        

      }

      manageAJAXResponse(data){
        console.log("Respuesta inserción nueva cuentas recibida");
        console.log(data.detail.response);
        this.dispatchEvent(
        new CustomEvent (
           "newaccountresponse",
           {

           detail:{
             "userid" : data.detail.response.userid,

           }

         }
        )
        );
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }


    window.customElements.define(DMNewaccount.is, DMNewaccount);
  </script>
</dom-module>
