<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2> Por favor, teclee introduzca sus datos </h2>
    <div class="row">
      <h3 class="col-md-3">Hola</h3>
      <h3 class="col-md-5">Soy Bootstrap</h3>
    </div>
    <!--<input type="text" value="{{first_name::input}}"/> -->
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="eventoLogin">Login</button>
    <button class="btn btn-warning" on-click="login">Logout</button>

    <!-- <span hidden$={{!logged}}> Bienvenido a casa Johnny </span> -->
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class UILogin extends Polymer.Element {
      static get is() { return 'ui-login'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      eventoLogin(){
        console.log("Boton login pulsado");
        console.log();
        // tenemos que enlazar los valores de los inputs de texto

        // var loginData = { //
        //  "email": this.email, //
        //  "password": this.password //
        // }; //
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        // this.$.doLogin.body = JSON.stringify(loginData); //
        // y mandarlo explicitamente
        // this.$.doLogin.generateRequest();
        // console.log("Petición enviada");

        // 
        this.dispatchEvent(
          new LoginEvent(
            "loginevent",
            {
              "detail" : {
                "email": this.email,
                "password": this.password
              }
            }
     )
   );
 }




    window.customElements.define(UILogin.is, UILogin);
  </script>
</dom-module>
