<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="dm-altamovimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Sus movimientos </h2>
    <template is="dom-repeat" items="{{movements}}">
      <h3> Importe - {{item.amount}} </h3>
      <h3> Fecha - {{item.date}} </h3>
    </br>

  </template>


    <iron-ajax
      id="setMovements"
      method="POST"
      url="http://localhost:3000/apitechu/movements/insertmovement"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMAltamovimientos extends Polymer.Element {
      static get is() { return 'dm-altamovimientos'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          amount: {
            type: Number
          },
         date: {
            type: String
          },
          type: {
            type: Number
          }


        };
      }

      insertMovement(e){
        console.log("Entramos en el dm-altamovimientos");
        console.log(e);
        var movementData = {
          "amount": e.amount,
          "date": e.date,
          "type": e.type,
          "id": e.id
        };
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        console.log(movementData);
        this.$.setMovements.body = JSON.stringify(movementData);
        this.$.setMovements.generateRequest();
        console.log("Alta movimientos lanzada");

        /*
        this.id = e.userid;

        this.id=5;
        console.log(e.userid);
        this.$.getAccount.generateRequest();
        console.log("Petición cuentas enviada");
        */
      }

        manageAJAXResponse(data){
        console.log("Respuesta del alta de movimientos");
        console.log(data.detail.response);

        this.dispatchEvent(
        new CustomEvent (
           "getmovementresponse",
           {
           detail:{
             "movements": data.detail.response
           }
         }
       )
     );


      }

    }


    window.customElements.define(DMAltamovimientos.is, DMAltamovimientos);
  </script>
</dom-module>
