<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-altamovimientos">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <h3> Por favor, teclee los datos para dar de alta el Movimiento en la cuenta {{account}} </h3>

  <!--<input type="text" value="{{first_name::input}}"/> -->
  <input type="date" placeholder="Fecha" value="{{date::input}}">
  <input type="number" placeholder="Importe" value="{{amount::input}}">
  <input type="number" placeholder="Tipo" min="1" max="2" value="{{type::input}}">
  <button class="btn btn-success" on-click="eventoAlta">Alta</button>
  <button class="btn btn-warning" on-click="backAccounts">Cuentas</button>

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class UIAltamovimientos extends Polymer.Element {
      static get is() { return 'ui-altamovimientos'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      eventoAlta(e){
        console.log("Boton alta movimiento pulsado");
        console.log(this.date);
        console.log(this.amount);
        console.log(this.type);
        console.log(this.accountid);

        this.dispatchEvent(
          new CustomEvent(
            "insertmovements",
            {
              "detail" : {
                "date": this.date,
                "amount": this.amount,
                "type": this.type,
                "id": this.accountid
              }
            }
        )
        );
     }

     backAccounts(e){
       console.log("Boton vuelta a cuentas pulsado");

       this.dispatchEvent(
         new CustomEvent(
           "backaccounts",
           {
             "detail" : {
               "msg": "Botón vuelta a cuentas pulsado"
             }
           }
       )
       );
    }




   }


    window.customElements.define(UIAltamovimientos.is, UIAltamovimientos);
  </script>
</dom-module>
