<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="ui-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2> Movimientos de la cuenta {{iban}} </h2>
    <template is="dom-repeat" items="{{movements}}">
      <div>Importe: {{item.amount}} Fecha: {{item.date}} </div>
    </br>
  </template>


  <h2> Saldo {{balance}} </h2>

  <button class="btn btn-warning" on-click="exitMovements">Cuentas</button>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UIMovimientos extends Polymer.Element {
      static get is() { return 'ui-movimientos'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          }


        };
      }

      selectItem(e){
       console.log("selectItem");
       console.log(e.model.item.iban);
       console.log(e.model.accountid);
       console.log("Enviamos evento selectedaccount");
       this.dispatchEvent(
         new CustomEvent(
           "selectedaccount",
           {
            "detail" : {
             "iban" : e.model.item.iban,
             "id" : e.model.item.accountid
            }
           }
         )
       );
     }

     exitMovements(e){
      this.dispatchEvent(
        new CustomEvent(
          "exitmovements",
          {
           "detail" : {
            "msg" : "Volver a cuentas"
           }
          }
        )
      );
    }


    }


    window.customElements.define(UIMovimientos.is, UIMovimientos);
  </script>
</dom-module>
