<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="ui-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2> Sus cuentas {{first_name}} </h2>
    <template is="dom-repeat" items="{{accounts}}">
      <div>IBAN: {{item.iban}} Saldo: {{item.balance}} <button class="btn btn-success" on-click="selectItem">Movimientos</button>          <button class="btn btn-success" on-click="sendEventAltaMovi">Alta Movimientos</button></div>
    </br>

  </template>
  <button class="btn btn-success" on-click="newAccount">Nueva Cuenta</button>
  <button class="btn btn-warning" on-click="volverCuentas">Logout</button>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UICuentas extends Polymer.Element {
      static get is() { return 'ui-cuentas'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          },
          balance: {
            type: Number
          },
          accounts: {
            type: Array
          },
          first_name: {
            type : String
          },
          userid: {
            type : Number
          }


        };
      }

      selectItem(e){
       console.log("selectItem");
       console.log(e.model.item.iban);
       console.log(e.model.accountid);
       console.log("Enviamos evento selectedaccount");
       this.dispatchEvent(
         new CustomEvent(
           "selectedaccount",
           {
            "detail" : {
             "iban" : e.model.item.iban,
             "id" : e.model.item.accountid,
             "balance" : e.model.item.balance
            }
           }
         )
       );
     }

     sendEventAltaMovi(e){
      console.log("selectItem");
      console.log(e.model.item.iban);
      console.log(e.model.item.accountid);
      console.log("Enviamos evento Alta Movimientos");
      this.dispatchEvent(
        new CustomEvent(
          "altamovimientos",
          {
           "detail" : {
            "iban" : e.model.item.iban,
            "id" : e.model.item.accountid
           }
          }
        )
      );
    }

    newAccount(e){
     console.log("newAccount ui-cuentas");
     console.log("Enviamos evento newaccount");
     console.log(this.userid);
     this.dispatchEvent(
       new CustomEvent(
         "newaccount",
         {
          "detail" : {
            "userid" : this.userid
          }
         }
       )
     );
   }

   volverCuentas(e){
    console.log("Botón volver en ui-cuentas");
    console.log("Enviamos evento logoutcuentas");
    console.log(this.userid);
    this.dispatchEvent(
      new CustomEvent(
        "logoutcuentas",
        {
         "detail" : {
           "userid" : this.userid
         }
        }
      )
    );
  }


}


    window.customElements.define(UICuentas.is, UICuentas);
  </script>
</dom-module>
