<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-logout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
      id="doLogout"
      method="POST"
      url="http://localhost:3000/apitechu/v2/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMLogout extends Polymer.Element {
      static get is() { return 'dm-logout'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      logout(e){
        // tenemos que enlazar los valores de los inputs de texto
        var logoutData = {
          "userid": e
        };
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        console.log(logoutData);
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
      }

      manageAJAXResponse(data){
        console.log("Respuesta logout recibida");
        console.log(data.detail.response);
        console.log(data.detail.response.logged);
        this.logged = true;
        this.dispatchEvent(
        new CustomEvent (
           "logoutresponse",
           {
           detail:{
             "userid" : data.detail.response.id,
             "username" : data.detail.response.first_name
           }
         }
        )
        );
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
        new CustomEvent (
           "usernotfound",
           {
           detail:{
             "msgerror" : "No se ha encontrado"
           }
         }
        )
        );
      }
    }


    window.customElements.define(DMLogout.is, DMLogout);
  </script>
</dom-module>
