<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="ui-newcustomer">
  <template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <h2 hidden$={{!userfound}}> No le hemos encontrado, regístrese si lo desea </h2>


  <input type="string" placeholder="Nombre" value="{{first_name::input}}"/>
  <input type="string" placeholder="Apellidos" value="{{last_name::input}}"/>
  <input type="email" placeholder="Email" value="{{email::input}}"/>
  <input type="password" placeholder="Password" value="{{password::input}}"/>


  <button class="btn btn-success" on-click="eventoNewCustomer">Alta</button>
  <button class="btn btn-warning" on-click="salir">Salir</button>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class UINewcustomer extends Polymer.Element {
      static get is() { return 'ui-newcustomer'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, userfound :{
            type : Boolean,
            value: false
          }
        };
      }

      eventoNewCustomer(e){

        this.dispatchEvent(
          new CustomEvent(
            "newcustomerevent",
            {
              "detail" : {
                "email": this.email,
                "password": this.password,
                "first_name": this.first_name,
                "last_name": this.last_name,
                "id": this.id
              }
            }
        )
        );
     }

     salir(e){

       this.dispatchEvent(
         new CustomEvent(
           "newcustomersalir",
           {
             "detail" : {
               "msg": "Se ha pulsado el botón salir"
             }
           }
       )
       );
    }



   }


    window.customElements.define(UINewcustomer.is, UINewcustomer);
  </script>
</dom-module>
