<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="dm-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2> Sus cuentas </h2>
    <template is="dom-repeat" items="{{accounts}}">
      <h3> IBAN - {{item.iban}} </h3>
      <h3> Saldo - {{item.balance}} </h3>
    </br>
  </template>

    <!--<input type="text" value="{{first_name::input}}"/>
    <h3> Cuenta: {{iban}} </h3>
    <h3> Saldo: {{balance}} </h3>
    -->
    <iron-ajax
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/account"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMCuentas extends Polymer.Element {
      static get is() { return 'dm-cuentas'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          iban: {
            type: Number
          }, balance: {
            type: Number
          },accounts: {
            type: Array
          }


        };
      }

      getAccounts(e){
        console.log("Entramos en el dm-cuentas");
        console.log(e);
        console.log(e.userid);
        this.id = e;
        console.log(this.userid);
        console.log("Petición cuentas enviada");
        this.$.getAccount.generateRequest();


      }

        manageAJAXResponse(data){
        console.log("showData");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        this.dispatchEvent(
        new CustomEvent (
           "getaccountresponse",
           {
           detail:{
             "accounts": data.detail.response

           }
         }
       )
     );

        // this.iban = data.detail.response[0].iban;
        // this.balance = data.detail.response[0].balance;
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
        this.dispatchEvent(
        new CustomEvent (
           "getaccountresponserror",
           {

           detail:{
             "msg": "ha ocurrido un error al recuperar las cuentas",
             "userid" : this.id

           }

         }
       )
     );
      }
    }


    window.customElements.define(DMCuentas.is, DMCuentas);
  </script>
</dom-module>
