<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dm-newcustomer">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--
    <span hidden$={{!logged}}> Bienvenido a casa Johnny </span>
     -->
    <iron-ajax
      id="insertCustomer"
      method="POST"
      url="http://localhost:3000/apitechu/v2/users/insertcustomer"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">


  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class DMNewcustomer extends Polymer.Element {
      static get is() { return 'dm-newcustomer'; } //indica el tag que va a identificar el componente
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email : {
            type: String
          },password: {
            type: String
          }, logged :{
            type : Boolean,
            value: false
          }
        };
      }

      newcustomer(e){
        console.log("Entramos en el dm-newcustomer");
        console.log(e);
        // tenemos que enlazar los valores de los inputs de texto

        var newcustomer = {
          "email": e.email,
          "password": e.password,
          "first_name": e.first_name,
          "last_name": e.last_name,
        };
        // para acceder al DOM interno del componente Polymer (shadowDOM)
        console.log(newcustomer);
        this.$.insertCustomer.body = JSON.stringify(newcustomer);
        // y mandarlo explicitamente
        this.$.insertCustomer.generateRequest();
        console.log("Petición enviada");

      }

      manageAJAXResponse(data){
        console.log("Respuesta inserción nuevo cliente recibida");
        console.log(data.detail.response);
        this.dispatchEvent(
        new CustomEvent (
           "newcustomeresponse",
           {

           detail:{
             "userid" : data.detail.response.id,
             "username" : data.detail.response.first_name
           }

         }
        )
        );
      }
      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }
    }


    window.customElements.define(DMNewcustomer.is, DMNewcustomer);
  </script>
</dom-module>
